/* CSS VARIABLES */
:root {
  --main-branding-color: #5fee46;
  --box-shadow: 5px 5px 19px -6px rgba(0, 0, 0, 0.32);
  --website-primary-font: "Familjen Grotesk", sans-serif !important;
  --website-secondary-font: "Playfair Display", serif !important;
}
/* NAVBAR */
.navbar {
  margin: 20px 30px;
  padding: 20px !important;
  font-family: var(--website-primary-font);
  font-size: 28px;
  /*border-bottom: 2px solid black;*/
}
.navbar .navbar-brand {
  font-family: var(--website-primary-font);
  font-size: 36px;
}
.navbar .navbar-nav .nav-link {
  color: #000;
}
.navbar-nav .nav-item {
  margin: 0 0 0 30px;
  border: 2px solid black;
  border-radius: 36px;
  padding: 0 10px;
  box-shadow: var(--box-shadow);
}
.navbar-nav .nav-item:hover {
  cursor: pointer;
  background-color: var(--main-branding-color);
}

/* GENERAL */
.website {
  font-family: var(--website-primary-font);
  margin: 50px;
  line-height: 1.5;
}
img {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
/* HERO */

.title-container {
  display: flex;
  align-items: center;
  min-height: 60vh;
}
.homepage-title {
  font-family: var(--website-secondary-font);
  text-align: center;
  font-size: 68px;
  font-weight: 400;
  max-width: 1200px;
}
.title-links {
  color: black;
}
.title-links:hover {
  color: var(--main-branding-color);
  cursor: pointer;
}

.project-preview {
  margin-top: 100px;
}
.project-preview img {
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.custom-line {
  border: none;
  height: 2px;
  background-color: #000;
  border-top: 2px solid #000;
  margin: 100px 0;
}
.title-section {
  text-transform: uppercase;
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 6px 8px;
  box-shadow: var(--box-shadow);
}
/* ABOUT */
.controled-width {
  max-width: 80%;
}
.biography-container {
  margin: 80px 0;
}

.biography {
  font-size: 28px;
}
.bio-text,
.bio-img {
  padding: 20px;
}
.photo-me {
  text-align: center;
  margin: 40px 0 0 0;
  box-shadow: var(--box-shadow);
}
.sub-section {
  font-size: 24px;
}

.education-paragraph {
  font-size: 34px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.skills-paragraph {
  margin: 80px 0 80px 0;
  font-size: 34px;
  text-align: center;
}

/* PROJECT SHOWCASE */
.showcase-title {
  font-family: var(--website-secondary-font);
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 50px;
}
.showcase {
  margin: 40px;
}
.showcase img {
  margin-top: 60px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.showcase img:hover {
  cursor: pointer;
  transition: all 0.3s ease-out;
  transform: scale(1.04);
}
/* PROJECT PAGE */
.project-title {
  font-family: var(--website-secondary-font);
  font-weight: 500;
  margin: 30px 0;
  font-size: 60px;
}
.project-sub-title {
  font-family: var(--website-secondary-font);
  font-weight: 600 !important;
  font-size: 24px;
}

.project-presentation {
  margin: 100px auto 150px auto;
}

.project-presentation p {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 400;
}
.image-presentation {
  margin-bottom: 200px;
}
.scroll-images img {
  margin: 40px 0;
}

.project-caption {
  font-size: 20px;
}

/* SCROLL GRADIENT */
.scroll-fade {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.1)
  );
  pointer-events: none;
}

/* MEDIA QUERIES */
@media (min-width: 577px) and (max-width: 820px) {
  .website {
    margin: 50px;
  }
  .homepage-title {
    margin: 100px 0 0 0;
    font-size: 48px;
    max-width: 80%;
  }
  .education-paragraph,
  .skills-paragraph {
    font-size: 30px;
  }
  .bio-text,
  .bio-img {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .website {
    margin: 30px;
  }
  .homepage-title {
    margin: 100px 0 0 0;
    font-size: 28px;
    max-width: 80%;
  }
  .biography,
  .education-paragraph,
  .skills-paragraph {
    font-size: 18px;
  }
  .title-section,
  .sub-section {
    font-size: 14px;
  }
  .custom-line {
    margin-top: 0;
  }
  .project-section-buttons button {
    font-size: 20px;
  }
  .project-section-buttons {
    margin-bottom: 60px;
  }
  .bio-text,
  .bio-img {
    padding: 0;
  }
}
@media (min-width: 820px) {
  .bio-text,
  .bio-img {
    padding: 20px;
  }
}
/* */
