/* CSS VARIABLES */
:root {
  --main-branding-color: rgb(76, 255, 156);
  --background-color: rgb(247, 246, 243);
  --box-shadow: 5px 5px 19px -6px rgba(0, 0, 0, 0.32);
  --website-primary-font: "Radio Grotesk", sans-serif !important;
  --website-secondary-font: "Fragment Serif", serif !important;
}
::selection {
  background: var(--main-branding-color); /*#4cff9c*/
  color: #fff;
}
/* FONT */

/* Light*/
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Light.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-Light.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-Light.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-Light.otf") format("opentype");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-Regular.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-Regular.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
}

/* Bold */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-Bold.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-Bold.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
}

/* Italic Light */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-LightItalic.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-LightItalic.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-LightItalic.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Italic Regular */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-RegularItalic.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-RegularItalic.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-RegularItalic.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Italic Bold */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-BoldItalic.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-BoldItalic.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-BoldItalic.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* SECOND FONT */
/* Regular */
@font-face {
  font-family: "Fragment Serif";
  src: url("/fonts/PPFragment-SerifRegular.woff2") format("woff2"),
    url("/fonts/PPFragment-SerifRegular.woff") format("woff"),
    url("/fonts/PPFragment-SerifRegular.ttf") format("truetype"),
    url("/fonts/PPFragment-SerifRegular.otf") format("opentype");
  font-weight: 390;
}

/* Extra Bold */
@font-face {
  font-family: "Fragment Serif";
  src: url("/fonts/PPFragment-SerifExtraBold.woff2") format("woff2"),
    url("/fonts/PPFragment-SerifExtraBold.woff") format("woff"),
    url("/fonts/PPFragment-SerifExtraBold.ttf") format("truetype"),
    url("/fonts/PPFragment-SerifExtraBold.otf") format("opentype");
  font-weight: 780;
}

/* Regular Light */
@font-face {
  font-family: "Fragment Serif";
  src: url("/fonts/PPFragment-SerifRegularItalic.woff2") format("woff2"),
    url("/fonts/PPFragment-SerifRegularItalic.woff") format("woff"),
    url("/fonts/PPFragment-SerifRegularItalic.ttf") format("truetype"),
    url("/fonts/PPFragment-SerifRegularItalic.otf") format("opentype");
  font-weight: 390;
  font-style: italic;
}

/* Extra Bold Regular */
@font-face {
  font-family: "Fragment Serif";
  src: url("/fonts/PPFragment-SerifExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/PPFragment-SerifExtraBoldItalic.woff") format("woff"),
    url("/fonts/PPFragment-SerifExtraBoldItalic.ttf") format("truetype"),
    url("/fonts/PPFragment-SerifExtraBoldItalic.otf") format("opentype");
  font-weight: 780;
  font-style: italic;
}

/* NAVBAR */
.navbar {
  background-color: var(--background-color);
  margin-top: 0px;
  padding-top: 20px !important;
  padding-bottom: 15px !important;
  font-family: var(--website-primary-font);
  font-size: 28px;

  /*border-bottom: 2px solid black;*/
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar .navbar-brand {
  font-family: var(--website-primary-font);
  font-size: 30px;
}
.navbar .navbar-nav .nav-link {
  color: #000;
}
.navbar-nav .nav-item {
  color: var(--background-color);
  margin: 0 0 0 30px;
  border: 2px solid black;
  border-radius: 36px;
  padding: 0;
}
.navbar-nav .nav-item:hover {
  cursor: pointer;
  background-color: var(--main-branding-color);
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler-icon {
  color: #000 !important;
  border: none !important;
}

.navbar-nav .nav-item.active-nav-item {
  background-color: var(--main-branding-color);
}

/* GENERAL */
body {
  background-color: var(--background-color) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.website {
  font-family: var(--website-primary-font);
  margin: 50px;
  line-height: 1.5;
}
img {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
/* HERO */

.title-container {
  display: flex;
  align-items: center;
  min-height: 60vh;
}
.homepage-title {
  font-family: var(--website-secondary-font);
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  max-width: 1200px;
  margin-top: 100px;
}
.title-links {
  color: black;
}
.title-links:hover {
  color: var(--main-branding-color);
  cursor: pointer;
}

.project-preview {
  margin-top: 100px;
}
.project-preview img {
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.custom-line {
  border: none;
  height: 2px;
  background-color: #000;
  border-top: 2px solid #000;
  margin: 100px 0;
}
.title-section {
  background-color: var(--background-color);
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 20px;
  padding: 6px 15px;
  box-shadow: var(--box-shadow);
}
/* ABOUT */
.controled-width {
  max-width: 80%;
}
.biography-container {
  margin: 80px 0;
}

.biography {
  font-size: 28px;
}
.bio-text,
.bio-img {
  padding: 20px;
}
.photo-me {
  text-align: center;
  margin: 40px 0 0 0;
  box-shadow: var(--box-shadow);
}
.sub-section {
  font-size: 24px;
}

.education-paragraph {
  font-size: 28px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.skills-paragraph {
  margin: 80px 0 80px 0;
  font-size: 28px;
}

/* PROJECT SHOWCASE */
.showcase-title {
  font-family: var(--website-secondary-font);
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 50px;
}
.showcase {
  margin: 40px;
}
.showcase img {
  margin-top: 60px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.showcase img:hover {
  cursor: pointer;
}
/* PROJECT PAGE */
.project-title {
  font-family: var(--website-secondary-font);
  font-weight: 500;
  margin: 30px 0;
  font-size: 60px;
}
.project-sub-title {
  font-family: var(--website-secondary-font);
  font-size: 24px;
}

.project-presentation {
  margin: 100px auto 150px auto;
}

.project-presentation p {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 400;
}
.image-presentation {
  margin-bottom: 200px;
}
.scroll-images img {
  margin: 40px 0;
}

.project-caption {
  font-size: 20px;
}

/* CONTACTS */
.contact-container {
  margin-top: 150px;
}
.contact-title {
  margin-bottom: 50px;
  font-size: 48px;
  font-family: var(--website-secondary-font);
}

.contact-text {
  font-size: 28px;
  margin-bottom: 50px;
}

.contact-subtitle {
  font-family: var(--website-secondary-font);
  font-size: 24px;
}
.mail-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.mail-link:hover {
  color: var(--main-branding-color);
  cursor: pointer;
}
.contact-link {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}
.contact-link:hover {
  color: var(--main-branding-color);
  cursor: pointer;
}
/* FOOTER */
footer {
  margin-top: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
}
.mail-footer {
  font-size: 28px;
  color: #000;
  text-decoration: none;
}
.mail-footer:hover {
  color: var(--main-branding-color);
  cursor: pointer;
}
.social-links {
  font-size: 28px;
  color: #000;
}
i:hover {
  color: var(--main-branding-color) !important;
}

/* MEDIA QUERIES */
@media (min-width: 577px) and (max-width: 820px) {
  .website {
    margin: 50px;
  }
  .homepage-title {
    margin: 100px 0 0 0;
    font-size: 48px;
    max-width: 80%;
  }
  .education-paragraph,
  .skills-paragraph {
    font-size: 30px;
  }
  .bio-text,
  .bio-img {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .website {
    margin: 30px;
  }
  .navbar .navbar-brand {
    font-size: 24px;
  }
  .homepage-title {
    margin: 10px 0 0 0;
    font-size: 28px;
    max-width: 80%;
    min-height: 0vh;
  }
  .project-title {
    font-size: 40px;
    margin-top: 0 !important;
  }
  .biography-container {
    margin-top: 0 !important;
  }
  .biography,
  .education-paragraph,
  .skills-paragraph {
    font-size: 18px;
  }
  .title-section,
  .sub-section {
    font-size: 18px;
  }
  .custom-line {
    margin-top: 0;
  }
  .project-section-buttons button {
    font-size: 20px;
  }
  .project-section-buttons {
    margin-bottom: 60px;
  }
  .bio-text,
  .bio-img {
    padding: 0;
  }
  .bio-img {
    margin: 10px 0 0 0 !important;
  }
  .biography-container {
    margin-bottom: 30px;
  }
  .education-paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .skills-paragraph {
    margin-top: 30px;
  }
  .showcase-title {
    margin-top: 30px;
    font-size: 40px;
  }
  .img-showcase {
    margin-top: 10px !important;
  }
  .showcase {
    margin-bottom: 10px !important;
  }
  .project-caption {
    font-size: 18px;
  }
  .image-presentation {
    margin-bottom: 10px;
  }
  .contact-container {
    margin-top: 30px;
  }
  .contact-title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .contact-text {
    font-size: 22px;
  }
  .contact-subtitle {
    font-size: 22px;
  }
  footer {
    font-size: 10px;
  }
}
@media (min-width: 820px) {
  .bio-text,
  .bio-img {
    padding: 20px;
  }
}
/* */
